.place__title {
  width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 40px 48px 0;
}

@media screen and (max-width: 1280px) {
  .place__title {
    width: 35.9vw;
    margin: 0 3.1vw 48px 0;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 42.9vw;
  }
}

@media screen and (max-width: 900px) {
  .place__title {
    width: 44.2vw;
    font-size: 42px;
    line-height: 46px;
    margin: 0 3.6vw 48px 0;
  }
}

/* @media screen and (max-width: 768px) {
  .places__title {
    width: 44.2vw;
    font-size: 42px;
    line-height: 46px;
    margin: 0 3.6vw 48px 0;
  }
} */

@media screen and (max-width: 600px) {
  .place__title {
    width: 90vw;
    margin: 0 0 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}

/* @media screen and (max-width: 320px) {
  .places__title {
    width: 90vw;
    margin: 0;
    font-size: 32px;
    line-height: 35px;
    margin-left: 4px;
  }
} */
