.places__image {
  width: 35.9vw;
  height: 35.9vw;
  margin-right: 3.1vw;
}

@media screen and (max-width: 1024px) {
  .places__image {
    width: 42.9vw;
    height: 42.9vw;
    margin-right: 3.1vw;
  }
}

@media screen and (max-width: 768px) {
  .places__image {
    width: 44.2vw;
    height: 44.2vw;
    margin-right: 3.6vw;
  }
}

@media screen and (max-width: 320px) {
  .places__image {
    width: calc(100vw - 4px);
    height: calc(100vw - 4px);
    margin: 0 auto 32px;
  }
}