@import url(./__language-container/header__language-container.css);
@import url(./__language-links/header__language-links.css);

.header {
  width: 76.8vw;
  height: 44px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.6vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.7vw;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 90vw;
    height: 36px;
  }
}