.lead__title {
  width: 56.2vw;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    width: 70.3vw;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 93.7vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 90vw;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
}