.lead__image {
  width: 984px;
  height: 615px;
  margin: 0 auto 8px;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    width: 76.8vw;
    height: calc(76.8vw * .625);
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: 90.6vw;
    height: calc(90.6vw * .625);
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: calc(100vw);
    height: calc(100vw * .625);
  }
}

/* .lead__image {
  width: 76.8vw;
  height: calc(76.8vw * .625);
  margin: 0 auto 8px;
}


@media screen and (max-width: 1024px) {
  .lead__image {
    width: 90.6vw;
    height: calc(90.6vw * .625);
  }
 
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: calc(100vw - 4px);
    height: calc(100vw * .625);
  }
} */