.places__url-heading_new-hampshire {
  margin-top: 106px;
}

@media screen and (max-width: 900px) {
  .places__url-heading_new-hampshire {
    margin-top: 0px;
  }
}


/* @media screen and (max-width: 768px) {
  .places__url-heading_new-hampshire {
    margin-top: 0px;
  }
} */

@media screen and (max-width: 600px) {
  .places__url-heading_new-hampshire {
    margin-top: 30px;
    margin-left: 4px;
  }
}

/* @media screen and (max-width: 320px) {
  .places__url-heading_new-hampshire {
    margin-top: 30px;
    margin-left: 4px;
  }
} */